---
import { Image } from "astro:assets";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ToolTip from '../components/Tooltip.astro'
import { SITE_TITLE, SITE_DESCRIPTION, stack } from '../consts';
import nevoBitLogo from '../icons/nevobit.svg'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.portfolio {
				padding: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.portfolio h2 {
				color: var(--secondary);
			}
			.home {
				position: relative;
				height: 25em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.title {
				text-align: center;
				text-wrap: pretty;
			}
			.title h1 {
				color: var(--secondary);
				font-size: 3.5rem;
			}
			.title h2 {
				font-size: 2.5rem;
				color: var(--secondary);
				background: linear-gradient(270deg, #f76927 0%, #fdfa29 100%);
				background-size: 150%;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent; 
				-moz-background-clip: text;
				-moz-text-fill-color: transparent;
				animation: horizontal 4s linear infinite;
			}
			.title p {
				padding-inline: 2.5em;
				margin-top: 1em;
				font-size: 1em;
			}
			.subtitle {
				margin-bottom: 1em;
			}
			.stacks, .experiences {
				text-align: center;
				width: 100%;
			}
			.experience {
				height: fit-content;
				padding: 2em;
				border-radius: 20px;
				margin: 0 auto;
				background: rgba(255, 255, 255, 0.05);
				text-align: start;
			}
			.experience__title {
				display: flex;
				justify-content: start;
				gap: 0.8rem;
			}
			.experience__title span {
				font-weight: 500;
			}
			.experience h3 {
				font-size: 0px;
			}
			.experience__role {
				font-weight: 500;
			}
			.experience__date {
				font-size: 1rem;
				color: var(--secondary);
			}
			.experience__tasks {
				padding-block-start: 1em;
				padding-inline-start: 2em;
				font-size: 1.1rem;
			}
			.experience__tasks b {
				color: #FAA628;
			}
			.stacks ul {
				padding: 0.8em 1em;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 1.5em;
				list-style: none;
			}
			.stack {
				position: relative;
				width: 3.3em;
				height: 3.3em;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.stack:hover::before {
				border: 1px solid var(--background-dif);
			}
			.stack::after {
				content: "";
				position: absolute;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				box-shadow:
					0 0 35px 12px var(--background-dif);
				z-index: -2;
			}
			.stack::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 1em;
				backdrop-filter: blur(30px);
				z-index: -1;
			}
			.glow {
				position: absolute;
				top: 15em;
				left: 50%;
				width: 40em;
				height: 25em;
				border-radius: 30%;
				display: block;
				background: radial-gradient(#460631aa 20%, #d886c455 100%);
				transform: translate(-50%, 0%);
				will-change: transform;
				filter: blur(100px);
				z-index: -1;
			}

			@keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
			@-o-keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
			@-moz-keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
			@-webkit-keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}

			@media (min-width: 574px) {
				.stacks ul {
					padding: 0;
				}
			}
		</style>
	</head>
	<body>
		<span class="glow"/>
		<Header title={SITE_TITLE} />
		<main class="portfolio">
			<section class="home">
				<article class="title">
					<h1>Carlos S. Aldazosa</h1>
					<h2>Software Engineer & Bug Exterminator</h2>

					<p>
						Always learning about new paradigms and technologies to apply right solution in the right place.
					</p>
				</article>
			</section>

			<section class="experiences">
				<h2 class="subtitle">Experience</h2>

				<article class="experience">
					<div class="experience__title">
						<h3>Nevobit
							<Image src={nevoBitLogo} alt="NevoBit Logo" height={30} />
						</h3>
						<span>-</span>
						<p class="experience__role">Front-end Developer</p>
					</div>

					<p class="experience__date"><time datetime="2018-09-07">September 05, 2022</time> - <time datetime="2023-10-27">October 27, 2023</time></p>
					<ul class="experience__tasks">
						<li><p>Develop <b>high-quality</b>, responsive, and <b>user-friendly</b> web applications.</p></li>
						<li><p>Write <b>reusable</b> libraries and components for future use.</p></li>
						<li><p><b>Optimize</b> applications performance, size and scalability.</p></li>
						<li><p>Develop administration web apps (cms, dashboard, etc).</p></li>
						<li><p>Build <b>customer-facing</b> web and mobile apps.</p></li>
						<li><p>Review the code of new employees and <b>help</b> them with their onboarding process.</p></li>
						<li><p>Help <b>Backend team</b> adding new enpoints, features and missing types.</p></li>
					</ul>
				</article>

			</section>

			<section class="stacks">
				<h2 class="subtitle">Stack</h2>
				<ul>
					{ stack.map(stack => (
						<li class="stack" style={{ '--background-dif': stack.color }} tool-tip>
							<ToolTip>{stack.name}</ToolTip>
							<Image src={stack.icon} alt={`Icon of ${stack.name}`} height={32} />
						</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
