---
import { Image } from "astro:assets";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, frontSkills, backSkills } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.glow1 {
				position: absolute;
				top: 150px;
				left: 50px;
				width: 0px;
				height: 0px;
				box-shadow:
					0 0 40px 8px #efefef,
					0 0 70px 16px #f0f,
					0 0 100px 24px #0ff;
				z-index: -1;
			}
			.glow2 {
				position: absolute;
				bottom: 200px;
				right: 50px;
				width: 0px;
				height: 0px;
				box-shadow:
					0 0 30px 6px #fff,
					0 0 60px 12px #f0f,
					0 0 80px 18px #0ff;
				z-index: -1;
			}
			.portfolio {
				padding: 0;
			}
			.home {
				position: relative;
				height: calc(100vh - 3.6em);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.title {
				display: flex;
				flex-direction: column;
				gap: 0.5em;
				text-align: center;
				text-wrap: pretty;
			}
			.title h2 {
				color: var(--secondary);
				font-size: 3.5rem;
			}
			.title h3 {
				font-size: 2.5rem;
				color: var(--secondary);
			}
			.title h3 {
				background: linear-gradient(90deg, #03df41 0%, #0835fc 100%);
				background-size: 200%;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent; 
				-moz-background-clip: text;
				-moz-text-fill-color: transparent;
				animation: horizontal 5s linear infinite;
			}
			.title p {
				margin-top: 1.5em;
				font-size: 1em;
			}
			.skills {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 3em;
			}
			.skills__container {
				/* width: 50%;
				padding: 0 2em; */
				text-align: center;
			}
			.skills ul {
				padding: 0.8em 1em;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 1.5em;
				list-style: none;
			}
			.skills h3 {
				color: #059D8A;
			}
			.skill {
				position: relative;
				width: 3.3em;
				height: 3.3em;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 0;
			}
			.skill::after {
				content: "";
				position: absolute;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: var(--background-dif);
				z-index: -2;
			}
			.skill::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				border: 1px solid var(--secondary-variation);
				border-radius: 1em;
				overflow: none;
				backdrop-filter: blur(20px);
				z-index: -1;
			}

			@keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
			@-o-keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
			@-moz-keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
			@-webkit-keyframes horizontal {
				0% { background-position: 0% 50% }
				50% { background-position: 100% 50% }
				100% { background-position: 0% 50% }
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="portfolio">
			<section class="home">
				<span class="glow1"/>
				<span class="glow2"/>
				<article class="title">
					<h2>Carlos S. Aldazosa</h2>
					<h3>Software Engineer & <span>Bug Exterminator</span></h3>

					<p>
						Web developer with hands on front-end, backend and mobile development.
						Always learning about new paradigms and technologies to apply right solution in the right place.
					</p>
				</article>
			</section>

			<section class="skills">
				<div class="skills__container">
					<h3>Front-end</h3>
					<ul>
					{ frontSkills.map(skill => (
						<li class="skill" style={{ '--background-dif': skill.color }}>
							<Image src={skill.icon} alt={`Icon of ${skill.name}`} width={30} height={30} />
						</li>
					))}
					</ul>
				</div>

				<div class="skills__container">
					<h3>Backend</h3>
					<ul>
						{ backSkills.map(skill => (
							<li class="skill" style={{ '--background-dif': skill.color }}>
								<Image src={skill.icon} alt={`Icon of ${skill.name}`} width={30} height={30} />
							</li>
						))}
					</ul>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
